[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=contraction-counter
Exec=/opt/contraction-counter/bin/contraction-counter
Icon=contraction-counter64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
